altgraph
bottle
bottle-websocket
certifi
cffi
charset-normalizer
colorama
Eel
future
gevent
gevent-websocket
greenlet
idna
pefile
Pillow
pip
pycparser
pyinstaller
pyinstaller-hooks-contrib
python-dotenv
pywin32-ctypes
requests
setuptools
urllib3
wheel
whichcraft
zope.event
zope.interface
